# =========================
# Seguridad y Secretos
# =========================
.env
*.key
secrets.toml

# =========================
# Entorno Virtual y Paquetes
# =========================
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

# =========================
# Caché de Pruebas (Pytest)
# =========================
.pytest_cache/
.coverage

# =========================
# Datos y Vectores Locales
# =========================
# Ignoramos el JSON generado para no subir megas de vectores a GitHub
data/processed_docs.json

# (Opcional) Descomenta la siguiente línea si no quieres subir los PDFs originales
data/*.pdf
data/*.json

# =========================
# Archivos del Sistema Operativo
# =========================
.DS_Store
._.DS_Store

# =========================
#  Pruebas on otras tecnologías en mi PC
# =========================
src/chromadb_ingestion.py
src/chromadb_rag_base.py
src/google_ingestion_rompe_limite_free.py
src/*_01*.py

requirements_pip.txt
src/app_01.py
src/app_01_trabajando_con_2_libros_fijo.py
src/analisis_mentor_hub.txt
tests/main_muestra.py

# =========================
# Claude Code (IDE local) and others
# =========================
.claude/
CLAUDE.md
CODE_ANALYSIS.md
Generative AI with LangChain - Dr. Priyanka.pdf
PROGRESS.md
TODO.md
opencode.json
requirements_pip.txt

src/other/
data_utel/
data_ai/

README_1o.md
Lineamientos_Proyecto_Final_Bootcamp_AI_Engineer.pdf


